div, form, button, input, label, svg, body {
  margin: 0;
  padding: 0;
}

.input-up{
  transform: translateY(-1.3rem);
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-label {
  position: relative;
  width: 100%;
  height: 1.5rem;
  font-size: 0.8rem ;
}

.input-label label{
  position: absolute;
  top: 0.5rem;
  left: 0.3rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-label input{
  height: 100%;
  width: 100%;
  padding-left: 0.3rem;
  font-size: 16px;
  border-width: 0px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.input-label svg{
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
}

form span {
  color: red;
}

.btns {
  display: flex;
}
.btns input, .btns button {
  height: 1.5rem;
  border-radius: 0.4rem;
  border-color: aqua;
  background-color: aqua;
}

@media (min-width: 600px) {
  .btns {
    justify-content: space-between;
  }

    .btns input, .btns button {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .btns {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .btns input, .btns button {
    width: 100%;
  }
}

