.register{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

@media (min-width: 600px) {
  .register-container {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 60%;
    height: 60%;
    box-shadow: 7px 7px 15px -8px rgba(0,0,0,0.75);
  }

  form {
    width: 60%;
  }

  button {
    width: 100%;
  }
}
